<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7911484075264282"
     crossorigin="anonymous"></script>

<!-- Cloudflare Web Analytics -->
 <script type='module' src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "19374c0e5aa54e26974efa1c6ba029a0"}'></script>
 <!-- End Cloudflare Web Analytics -->

 <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YGK1YC7W0H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YGK1YC7W0H');
</script>

<!-- End Google tag (gtag.js) -->